body, button, input {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;  
  font-size: 1rem;
}
body {
  color: #005577;
  margin: 2rem;
} 
main {
  width: 50rem;
}
p, li { 
  margin: 0;
  padding: .25rem;
  color: #334;  
}
ul {
  margin: 0rem;
  list-style: square outside none;
}
button, input {
  text-align: center;
  margin: .075rem;
}
section#rules {
  margin: .5rem 0;
  background: lightyellow;
  border: 1px solid yellow;
  padding: .5rem;
}
section#deck { 
  position: relative;
  min-height: 6.5rem;
  margin: .5rem 0;
}
img.card {
  width: 4rem;
  height: 6rem;
  margin: .25rem;
}
section#deck > img.card { 
  position: absolute; 
}
section#players {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: stretch;
}
div.player {
  min-width: 50rem;
  min-height: 8rem;
  margin: .5rem 0;
  padding: .1rem 0;
}
div.player > button {
  margin: 0rem 0rem .5rem .5rem;
}
div.player > div { 
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  align-items: stretch;
  min-width: 50rem;
  min-height: 6.5rem;  
  background-image: url(/dist/img/tapete.jpg);
  background-position: center;
}
div.player > span { 
  margin: 0rem 0rem .5rem .5rem;
}
div.player > span.out { 
  color: red;
}
div.player > span.loser { 
  color: #005577;
}
div.player > span.winner {   
  color: green;
  font-weight: bold;
}
div.player > label { 
  float: right;
  margin: 0rem 0rem .5rem .5rem;
  font-size: bold;
}